.accordion-legal details {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow: hidden;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion-legal details + details {
  margin-top: 8px;
}

.accordion-legal details p {
  margin-bottom: 0.8em;
}

.accordion-legal details summary {
  position: relative;
  padding: 20px 46px 20px 24px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  color: var(--saga-navy);
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-m);
  transition: background-color 0.2s;
}

.accordion-legal details[open] summary,
.accordion-legal details summary:focus,
.accordion-legal details summary:hover {
  background-color: rgb(30 50 130 / 8%);
}

.accordion-legal details summary::-webkit-details-marker {
  display: none;
}

.accordion-legal details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%) rotate(135deg);
  width: 8px;
  height: 8px;
  border: 2px solid var(--saga-navy);
  border-width: 2px 2px 0 0;
  transition: transform 0.2s;
}

.accordion-legal details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion-legal details .accordion-legal-item-body {
  padding: 0 24px 20px;
}

.accordion-legal details[open] .accordion-legal-item-body {
  background-color: var(--light-color);
}
